In [85]:
import pandas as pd
dataset=pd.read_csv("Placement.csv")

In [87]:
#Function Quan and Qual separation 
def quanQual(dataset):
        quan=[]
        qual=[]
        for columnName in dataset.columns:
            if(dataset[columnName].dtypes=='O'):
                qual.append(columnName)
            else:
                quan.append(columnName)
        return quan,qual

In [89]:
quan,qual=quanQual(dataset)

In [91]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [93]:
dataset["ssc_p"].value_counts()

ssc_p
62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: count, Length: 103, dtype: int64

In [95]:
dataset["ssc_p"].value_counts().index

Index([ 62.0,  63.0,  67.0,  52.0,  73.0,  74.0,  65.0,  69.0,  77.0,  58.0,
       ...
        81.7,  64.6,  52.6, 84.86,  75.0,  69.7, 80.92,  83.0,  86.5,  80.6],
      dtype='float64', name='ssc_p', length=103)

In [97]:
dataset["ssc_p"].value_counts().values

array([11, 10,  9,  9,  9,  7,  7,  7,  6,  6,  4,  4,  4,  4,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  2,  2,  2,  2,  2,  2,  2,  2,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1], dtype=int64)

In [99]:
dataset["ssc_p"].value_counts().sort_index

<bound method Series.sort_index of ssc_p
62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: count, Length: 103, dtype: int64>

In [101]:
dataset["ssc_p"].value_counts().sort_values

<bound method Series.sort_values of ssc_p
62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: count, Length: 103, dtype: int64>

In [110]:
def freqTable(dataset,quan):
    for columnName in quan:
        freqTable=pd.DataFrame(columns=["Unique_values","Frequency","Relative_Frequency","CumSum"])
        freqTable["Unique_values"]=dataset[columnName].value_counts().index
        freqTable["Frequency"]=dataset[columnName].value_counts().values
        freqTable["Relative_Frequency"]=(freqTable["Frequency"]/103)
        freqTable["CumSum"]=freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [112]:
freqTable(dataset,quan)

    Unique_values  Frequency  Relative_Frequency    CumSum
0        300000.0         22            0.213592  0.213592
1        250000.0         18            0.174757  0.388350
2        240000.0         15            0.145631  0.533981
3        260000.0          7            0.067961  0.601942
4        360000.0          6            0.058252  0.660194
5        200000.0          6            0.058252  0.718447
6        265000.0          6            0.058252  0.776699
7        220000.0          5            0.048544  0.825243
8        275000.0          5            0.048544  0.873786
9        210000.0          4            0.038835  0.912621
10       400000.0          4            0.038835  0.951456
11       270000.0          4            0.038835  0.990291
12       216000.0          3            0.029126  1.019417
13       350000.0          3            0.029126  1.048544
14       500000.0          3            0.029126  1.077670
15       252000.0          2            0.019417  1.097087
16       236000.0          2            0.019417  1.116505
17       230000.0          2            0.019417  1.135922
18       280000.0          2            0.019417  1.155340
19       218000.0          2            0.019417  1.174757
20       204000.0          2            0.019417  1.194175
21       276000.0          2            0.019417  1.213592
22       255000.0          1            0.009709  1.223301
23       285000.0          1            0.009709  1.233010
24       340000.0          1            0.009709  1.242718
25       690000.0          1            0.009709  1.252427
26       233000.0          1            0.009709  1.262136
27       290000.0          1            0.009709  1.271845
28       650000.0          1            0.009709  1.281553
29       264000.0          1            0.009709  1.291262
30       225000.0          1            0.009709  1.300971
31       940000.0          1            0.009709  1.310680
32       393000.0          1            0.009709  1.320388
33       380000.0          1            0.009709  1.330097
34       420000.0          1            0.009709  1.339806
35       425000.0          1            0.009709  1.349515
36       336000.0          1            0.009709  1.359223
37       231000.0          1            0.009709  1.368932
38       268000.0          1            0.009709  1.378641
39       450000.0          1            0.009709  1.388350
40       287000.0          1            0.009709  1.398058
41       411000.0          1            0.009709  1.407767
42       320000.0          1            0.009709  1.417476
43       278000.0          1            0.009709  1.427184
44       295000.0          1            0.009709  1.436893