In [1]:
import pandas as pd
dataset=pd.read_csv("Placement.csv")

In [2]:
#Function Quan and Qual separation 
def quanQual(dataset):
        quan=[]
        qual=[]
        for columnName in dataset.columns:
            if(dataset[columnName].dtypes=='O'):
                qual.append(columnName)
            else:
                quan.append(columnName)
        return quan,qual

In [5]:
quan,qual=quanQual(dataset)

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [9]:
import numpy as np

In [11]:
#Function creation for table along with calculated IQR values
def IQR(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5rule","min","max","Lesser","Greater"],columns=quan)
    for columnName in quan:
        descriptive.loc["Mean",columnName]=dataset[columnName].mean()
        descriptive.loc["Median",columnName]=dataset[columnName].median()
        descriptive.loc["Mode",columnName]=dataset[columnName].mode()[0]
        descriptive.loc["Q1:25%",columnName]=dataset.describe()[columnName]["25%"]
        descriptive.loc["Q2:50%",columnName]=dataset.describe()[columnName]["50%"]
        descriptive.loc["Q3:75%",columnName]=dataset.describe()[columnName]["75%"]
        descriptive.loc["99%",columnName]=np.percentile(dataset[columnName],99)
        descriptive.loc["Q4:100%",columnName]=dataset.describe()[columnName]["max"]
        descriptive.loc["IQR",columnName]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive.loc["1.5rule",columnName]=1.5*descriptive[columnName]["IQR"]
        descriptive.loc["Lesser",columnName]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
        descriptive.loc["Greater",columnName]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
        descriptive.loc["min",columnName]=dataset[columnName].min()
        descriptive.loc["max",columnName]=dataset[columnName].max()
    return descriptive

In [13]:
descriptive=IQR (dataset,quan)

In [15]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0

In [17]:
#To find the columns having greater and lesser outliers separately:
def FindingOutliers(descriptive,quan):
    lesser=[]
    greater=[]
    for columnName in quan:
        if (descriptive.loc["min"][columnName]<descriptive.loc["Lesser"][columnName]):
            lesser.append(columnName)
        if (descriptive.loc["max"][columnName]>descriptive.loc["Greater"][columnName]):
            greater.append(columnName)
    return greater,lesser

In [19]:
greater,lesser=FindingOutliers(descriptive,quan)

In [21]:
greater

['hsc_p', 'degree_p', 'salary']

In [23]:
lesser

['hsc_p']

In [41]:
# To replace the outliers
def ReplaceOutliers (lesser,greater,descriptive,dataset):
    for columnName in lesser:
        dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
    for columnName in greater:
        dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
    return dataset

In [43]:
dataset=ReplaceOutliers (lesser,greater,descriptive,dataset)

In [45]:
def IQR(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5rule","min","max","Lesser","Greater"],columns=quan)
    for columnName in quan:
        descriptive.loc["Mean",columnName]=dataset[columnName].mean()
        descriptive.loc["Median",columnName]=dataset[columnName].median()
        descriptive.loc["Mode",columnName]=dataset[columnName].mode()[0]
        descriptive.loc["Q1:25%",columnName]=dataset.describe()[columnName]["25%"]
        descriptive.loc["Q2:50%",columnName]=dataset.describe()[columnName]["50%"]
        descriptive.loc["Q3:75%",columnName]=dataset.describe()[columnName]["75%"]
        descriptive.loc["99%",columnName]=np.percentile(dataset[columnName],99)
        descriptive.loc["Q4:100%",columnName]=dataset.describe()[columnName]["max"]
        descriptive.loc["IQR",columnName]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive.loc["1.5rule",columnName]=1.5*descriptive[columnName]["IQR"]
        descriptive.loc["Lesser",columnName]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
        descriptive.loc["Greater",columnName]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
        descriptive.loc["min",columnName]=dataset[columnName].min()
        descriptive.loc["max",columnName]=dataset[columnName].max()
    return descriptive

In [47]:
descriptive =IQR(dataset,quan)

In [49]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.129,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
min,1,40.89,42.75,50.0,50.0,51.21,200000.0
max,215,89.4,91.15,88.5,98.0,77.89,390000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0

In [33]:
#To find the columns having greater and lesser outliers separately:
def FindingOutliers(descriptive,quan):
    lesser=[]
    greater=[]
    for columnName in quan:
        if (descriptive.loc["min"][columnName]<descriptive.loc["Lesser"][columnName]):
            lesser.append(columnName)
        if (descriptive.loc["max"][columnName]>descriptive.loc["Greater"][columnName]):
            greater.append(columnName)
    return greater,lesser

In [51]:
greater,lesser= FindingOutliers(descriptive,quan)

In [53]:
greater

[]

In [55]:
lesser

[]